<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  
  <DataBases>
    <Conexion>
      <!--Nombre de la Base de datos a cual vamos a integrar los documentos -->
      <CompanyDB>PRUEBAS_TERCIOPELOS</CompanyDB>
      <!--Dirreccion IP o Nombre del servidor SAP Business One-->
      <Server>192.168.0.30</Server>
      <!--Dirreccion IP o Nombre del servidor SAP Business One con el puerto 30000 -->
      <LicenseServer>192.168.0.30:30000</LicenseServer>
      <!--Dirreccion IP o Nombre del servidor SAP Business One con el puerto 40000 -->
      <SLDServer>192.168.0.30:40000</SLDServer>
      <!-- Usuario "sa" o "SYSTEM" del Motor de base de datos -->
      <DbUserName>sa</DbUserName>
      <!-- Password del usuario "sa" o "SYSTEM" del Motor de base de datos -->
      <DbPassword>Asdf1234$</DbPassword>
      <!-- Codigo de Usuario SAP Business One -->
      <UserName>manager</UserName>
      <!-- Password de Usuario SAP Business One -->
      <Password>1234</Password>
      <!-- Tipo de base de datos dst_MSSQL2014, dst_MSSQL2016, dst_HANADB, Solo se puede escoger uno  -->
      <DbServerType>dst_MSSQL2017</DbServerType>
    </Conexion>
  </DataBases>

  <PathLog>
    <!-- Ruta donde se guardara el Log de Errores de la integración  -->
    <PathFile>D:\</PathFile>
  </PathLog>

  <Timer>
    <!-- El tiempo de ejecución del servicio en Minutos -->
    <Interval>120</Interval>
  </Timer>

  <Funcionalidades>
    
    <!-- Buscar TRM en Superfinanciera y actualizar en SAP Business One SI/NO -->
    <TRCM>
      <!-- Indicar si esta activo SI/NO -->
      <Activo>
        SI
      </Activo>
      <!-- Indicar la hora a partir de la cual se actualizara la TRM, el formato de la fecha tiene que ser HH:MM:SS AM o PM-->
      <HoraActualizacion>
        6:00:00 PM
      </HoraActualizacion>
    </TRCM>
    <!-- Buscar documentos pendientes y enviar a la DIAN SI/NO -->
    <eBillingService>
      SI
    </eBillingService>
    
  </Funcionalidades>

</Configuration>